<%= form_with(model: @place, local: true) do |f| %>
  <div class="field">
    <%= f.label :en_name %>
    <%= f.text_field :en_name %>
  </div>

  <div class="field">
    <%= f.label :es_name %>
    <%= f.text_field :es_name %>
  </div>

  <div class="field">
    <%= f.label :en_description %>
    <%= f.text_area :en_description %>
  </div class="field">

  <div class="field">
    <%= f.label :es_description %>
    <%= f.text_area :es_description %>
  </div class="field">

  <div class="field">
    <%= f.label :category %>
    <%= f.text_field :category %>
  </div>

  <div class="field">
    <%= f.label :lat %>
    <%= f.text_field :lat %>
  </div>

  <div class="field">
    <%= f.label :lon %>
    <%= f.text_field :lon %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>