<table >
  <thead>
    <tr >
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Category</th>
      <th>Lat</th>
      <th>Long</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody >
    <% @places.each do |place| %>
      <tr>
        <td colspan="100%"><hr/></td>
      </tr>
      <tr>
        <td><%= place.id %> </td>
        <td><%= place.en_name %></td>
        <td><%= place.en_description %></td>
        <td><%= place.category %></td>
        <td><%= place.lat %></td>
        <td><%= place.lon %></td>
        <td><%= link_to 'Show', place %></td>
        <td><%= link_to 'Edit', edit_place_path(place) %></td>
        <td><%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= place.es_name %></td>
        <td><%= place.es_description %></td>
        <td colspan="6"></td>
      </tr>      
    <% end %>
    
  </tbody>
</table>
<br>
<%= link_to 'New Place', new_place_path %>