<p id="notice"><%= notice %></p>

<%= link_to 'Places', places_path %> | 
<%= @place.en_name %> |
<%= link_to 'Edit', edit_place_path(@place) %> 

<p>
  <strong>Title (EN):</strong>
  <%= @place.en_name %>
</p>

<p>
  <strong>Title (ES):</strong>
  <%= @place.es_name %>
</p>

<p>
  <strong>Description (EN):</strong>
  <%= @place.en_description %>
</p>

<p>
  <strong>Description (ES):</strong>
  <%= @place.es_description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @place.category %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @place.lat %>
</p>

<p>
  <strong>Longituge:</strong>
  <%= @place.lon %>
</p>

<p>
  <strong>Remote Image URL:</strong>
  <%= @place.remote_img %>
</p>

