<h1><%= @place.name %></h1>
<p><%= @place.description %></p>
<p><%= @place.category %></p>
<p><%= @place.created_at %></p>
<p><%= @place.updated_at %></p>
<%= link_to "Delete Place", @place, method: :delete, data: { confirm: "Are you sure?" } %>